<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
	
	<link rel="stylesheet" href="css/style.css">
	<script src="https://use.fontawesome.com/ea10b723c7.js"></script>
   <title>Home | Busynoi</title>
   <link rel="canonical" href="https://www.busynoi.com">
   <meta property="og:title" content="Home | Busynoi">
   <meta property="og:url" content="https://www.busynoi.com">
   <meta property="og:site_name" content="Busynoi">
   <meta property="og:type" content="website">
       <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    
   <script type="text/javascript">
    $(window).on('load',function(){
        $('#searchModal').modal('show');
    });
</script>
  </head>
  <body>
  <section class="eader pt-4">
		<div class="container">
			<div class="row">
				<div class="col-md-12 logo text-center">
					<a class="" href="#"><img src="img/blogo.png"></a><br><br>
					<p style="color:#E68E94; font-size:18px; font-weight:500;">New features coming soon!</p>
				</div>
			</div>
		</div>
  </section>
  <section class="">
   	<nav class="navbar navbar-expand-lg navbar-light bg-white">
	  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		<span class="navbar-toggler-icon"></span>
	  </button>
	  <div class="collapse navbar-collapse d-flex justify-content-center" id="navbarNav">
		<ul class="navbar-nav">
		  <li class="nav-item active">
			<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="#">List Yourself</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="#">Business Events</a>
		  </li>
		  <li class="nav-item">
			<a class="nav-link" href="#">Search</a>
		  </li>
		</ul>
	  </div>
	</nav>
</section>
 <!-- newsletter Popup-->
<div class="modal searchModal" id="searchModal" tabindex="-1">
	<button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content text-center">
      <div class="modal-body">
		<h2 class="modal-title">Join Our Newsletter</h2><br>
		<p>Be the first to know about new products, local events and special promotions.</p>
        <form>
          <div class="form-group">
            <input type="email" class="form-control" name="email" placeholder="Your Email">
          </div>          
          <button type="submit" class="btn btn-secondary">Submit</button>
        </form>
      </div>
    </div>
  </div>
</div>

 <!-- Search Popup End-->
  <!-- Search Section Starts -->
<section  class="py-4">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<form>
				  <div class="form-group row">
					<div class="col-md-3 mb-3">
						<input type="email" class="form-control" name="email" placeholder="Search">
					</div>
					<div class="col-md-3 mb-3">
						<input type="email" class="form-control" name="email" placeholder="Category">
					</div>
					<div class="col-md-3 mb-3">
						<input type="email" class="form-control" name="email" placeholder="Location">
					</div>
					<div class="col-md-3 mb-3">
						<input type="email" class="form-control" name="email" placeholder="Type">
					</div>
				  </div>       
					<p class="strong">Click here to find nearbuy Jobs</p>				  
				  <button type="submit" class="btn btn-secondary">Submit</button>
				</form>
				
			</div>
		</div>
	</div>
</section>
<section  class="py-4">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="section-heading mb-3">
					<h1>ABOUT US</h1>
				</div>
				<p>We are a team of Busynoi's who aim to connect the best jobs to Jobseekers. This is a platform that helps connect the jobs to the applicants and vis-a versa. Our technology focuses on providing you a job near your vicinity. You can easily make use of <a href="#">POST</a> feature to reach desired Job applicants & employers!</p>
			</div>			
		</div>
		<div class="row py-4 about">
			<div class="col-md-3">
				<h1><i class="fa fa-map-marker" aria-hidden="true"></i> <a href="/India_jobs">India jobs</a></h1>
			</div>
			<div class="col-md-3">
				<h1><i class="fa fa-map-marker" aria-hidden="true"></i> <a href="/India_jobs">USA jobs</a></h1>
			</div>
			<div class="col-md-3">
				<h1><i class="fa fa-map-marker" aria-hidden="true"></i> <a href="/India_jobs">Canada jobs</a></h1>
			</div>
			<div class="col-md-3">
				<h1><i class="fa fa-map-marker" aria-hidden="true"></i> <a href="/India_jobs">India CV's</a></h1>
			</div>
		</div>
	</div>
</section>
<section class="py-5 bg-light">
	<div class="container">
		<div class="row">
			<div class="col-md-12 text-center">
				<div class="section-heading mb-3">
					<h1>SERVICES</h1>
				</div>
				<p>We are a team of Busynoi's who aim to connect the best jobs to Jobseekers. This is a platform that helps connect the jobs to the applicants and vis-a versa. Our technology focuses on providing you a job near your vicinity. You can easily make use of POST feature to reach desired Job applicants & employers!</p>
			</div>
		</div>
		<div class="serv row py-4">
			<div class="col-md-4">
                <div class="single-service">
                     <i class="fa fa-pencil"></i>
                     <h3>Employers,Post a Job</h3>
                     <div class="service-details">
						<p>Hello employers,Looking to fill a job vacancy? Your posting will be highlighted to the desired job seekers and you will receive verified resumes relevant to your job posting</p>
                     </div>
				</div>
            </div>
			<div class="col-md-4">
                <div class="single-service">
                     <i class="fa fa-pencil"></i>
                     <h3>Job Applicants, Post Resume</h3>
                     <div class="service-details">
						<p>Hello Applicants,Looking for a job? You posting will be highlighted to the desired recruiters, job vacancies & employers directly and receive verified job vacancy information relevant to your expertise</p>
					</div>
				</div>
            </div>
			<div class="col-md-4">
                <div class="single-service">
                     <i class="fa fa-crosshairs"></i>
                     <h3>Location Feature</h3>
                     <p>Location filter helps you find jobs near you and helps employers find applicants near your company</p>
				</div>
            </div>
		</div>
	</div>
</section>
<section class="py-5">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<form class="subsform">
					<div class="row mb-4">
						<div class="col-md-6">
							<input type="text" class="form-control" name="name" placeholder="Name">
						</div>
						<div class="col-md-6">
							<input  type="email" class="form-control"name="email" placeholder="Email">
						</div>
					</div>
					<div class="row mb-4">
						<div class="col-md-6">
							<input type="text" class="form-control" name="usertype" placeholder="Are you an Employer or Job Seeker?">
						</div>
						<div class="col-md-6">
							<input  type="text" class="form-control"name="location" placeholder="Location - Country/State">
						</div>
					</div>
					<div class="row mb-4">
						<div class="col-md-12">
							<input type="text" class="form-control" name="usertype" placeholder="Looking for (Eg.: IT job, Graphic designer for your company etc)">
						</div>
					</div>
					<div class="row mb-4">
						<div class="col-md-9">
							<div class="form-check">
							  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
							  <label class="form-check-label" for="defaultCheck1">
								I accept terms & conditions, Therefore i want to recieve the latest jobs updates and emailers from busynoi.
							  </label>
							</div>
						</div>
						<div class="col-md-3">
							<input  type="btn" class="btn btn-light btn-submit" name="submit"  value="SUBMIT">
						</div>
					</div>
					
				</form>
			<div>
		</div>
	</div>
</section>
<footer class="py-2">
	<div class="container">
		<div class="row social">
			<div class="col-md-12 text-center">
			<p>© 2020 by Busynoi. Proudly created in India</p>
			<ul class="py-2">
				<li><a><i class="fa fa-facebook"></i></a></li>
				<li><a><i class="fa fa-twitter"></i></a></li>
				<li><a><i class="fa fa-instagram"></i></a></li>
				
			</ul>
			<div>
		</div>
	</div>
</footer>
			

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
  </body>
</html>